body {
	font-family: Arial, Verdana, Helvetica, sans-serif;	margin: 0px;	padding: 0px;	font-size: 12px;	font-weight: normal;	color: #000000;	text-align: left;}
#main { background: url(../images/bg.jpg) repeat-x; padding: 0 10px; margin: 0 0 20px 0; text-align: center; }
.container { padding: 0px; margin: 0 auto; text-align: left; }


/*-----------------------------------*/
/*----------------- Linke Spalte ------------------*/
/*-----------------------------------*/

#left_out { float: left; background: url(../images/top_left.png) no-repeat; }
#left_topright { background: url(../images/top_right.png) no-repeat scroll 100% 0.4% transparent; }
#logo { background-repeat: no-repeat; padding: 30px 10px 20px 10px; min-height: 100px; }


/*-----------------------------------*/
/*----------------- Sidebars ------------------*/
/*-----------------------------------*/

.sidebar h3 { color: #FFFFFF; height: 40px; line-height: 40px; margin: 0 0 5px 0; padding: 0px 0px 0px 10px; text-align: left; font-weight: bold; font-size: 13px; }
.sidebar .module, .sidebar .module_menu, .sidebar .module_text { background: url(../images/sidebar_tl.png) no-repeat; margin: 0 0 10px 0; } 
.sidebar .module div, .sidebar .module_menu div, .sidebar .module_text div { background: url(../images/sidebar_tr.png) right top no-repeat; }
.sidebar .module div div, .sidebar .module_menu div div, .sidebar .module_text div div{ background: url(../images/sidebar_bl.png) no-repeat bottom left; }
.sidebar .module div div div, .sidebar .module_menu div div div, .sidebar .module_text div div div{ background: url(../images/sidebar_br.jpg) bottom right no-repeat; padding: 0 5px 10px 5px; overflow: hidden;  }
.sidebar .module div div div div, .sidebar .module_menu div div div div, .sidebar .module_text div div div div {padding: 0;	overflow: hidden; background: none;	margin: 0;}

.box_tl { background: url(../images/left_box.png) no-repeat top left;	}
.box_tr { background: url(../images/right_box.png) no-repeat top right; padding: 5px 0 0 0;	}
.box_bl { background: url(../images/left_box.png) no-repeat bottom left; padding: 0;	}
.box_br { background: url(../images/right_box.png) no-repeat bottom right; padding: 0 10px 5px 10px;	}

.sidebar ul {margin: 0;	padding: 0px;	list-style-type: none;}
.sidebar ul.menu li{padding: 0px;	margin: 0px;	list-style-type: none;}
.sidebar ul.menu ul { padding: 0 0 0 15px; margin: 0px 0px 5px 0px; list-style-type: disc; }
.sidebar ul.menu ul li{ padding: 0px; margin: 0px; list-style-type: disc; }
.sidebar ul.menu a  { font-size: 12px; border-top: 1px solid #ccc; padding: 7px 5px; display: block; text-decoration: none !important; }
.sidebar ul.menu a:hover, .sidebar ul.menu li#current a, .sidebar ul.menu li#current li a { background-color: #BBDBEE; color: #fff; margin: 0px; }
.sidebar ul.menu ul a { color: #999999; font-size: 12px;  padding: 4px 5px; margin: 0px; background: none !important; border: none !important; }
.sidebar ul.menu li a:hover, .sidebar ul.menu li li.current a:hover, .sidebar ul.menu li li.current a,  .sidebar ul.menu li li.current a { text-decoration: none; background-color: #BBDBEE !important; color: #fff; }
.sidebar ul.menu li.current ul li a { background: none !important; }

/*-----------------------------------*/
/*----------------- Rechte Spalte ------------------*/
/*-----------------------------------*/

#right_out { padding: 0 0 0 10px; }
#header { height: 116px; display: block; margin: 0 0 10px 0; }

#pathway_out { display: block; margin: 0 0 10px 0; }
#pathway { height: 24px; line-height: 24px; float: left; }
#pathway a, #pathway span {font-size: 11px;color: #999999; }

#suche { height: 15px; margin: 0; padding: 4px 5px; overflow: hidden; float: right; width: 150px; border: 1px solid #EEE; background-color: #FFFFFF; }
#suche .inputbox { margin: 0; padding: 0; width: 150px; font-size: 11px; color: #999999; border: none; background: none; }
#suche label, #navigation h3 { display: none; }

#schriftzug { font-size: 18px; color: #FFFFFF; padding: 25px 0 5px 5px; }
#navigation { height: 68px; font-size: 12px; overflow: hidden; }
#navigation ul { list-style-type: none; padding: 0px; margin: 0px; display: inline; }
#navigation li { list-style-type: none; padding: 0px; margin: 0px; display: inline; background: url(../images/topmenu_left.png) top left no-repeat; float: left; }
#navigation  a { background: url(../images/topmenu_right.png) top right no-repeat; float: left; display: block; height: 68px; line-height: 68px; text-decoration: none; text-transform: none; overflow: hidden; margin: 0; padding: 0px 25px; color: #000000; }
#navigation a:hover, #navigation li#current a{ text-decoration: underline; }


/*-----------------------------------*/
/*----------------- Position 3 und 4 ------------------*/
/*-----------------------------------*/
#box_content { display: block; padding: 0px; width: 100%; overflow: hidden; }
#box_content h3 { height: 30px; line-height: 30px; text-align: left; color: #FFFFFF; margin: 0px 5px 10px 5px; font-size: 12px; }
#box_content ul, #box_content li, #content ul, #content li, #userbottom ul, #userbottom li { padding: 0px 0px 0px 5px; margin: 0px 10px; }
#top_module_1 { width: 100%; }
#top_module_2 { width: 49%; }

#box_content .module, #box_content .module_menu, #box_content .module_text { background: url(../images/user_tl.png) no-repeat; margin-bottom: 10px; } 
#box_content .module div, #box_content .module_menu div, #box_content .module_text div { background-image: url(../images/user_tr.png); background-position: right top; background-repeat: no-repeat}
#box_content .module div div, #box_content .module_menu div div, #box_content .module_text div div{ background: url(../images/user_bl.png) bottom left no-repeat;}
#box_content .module div div div,  #box_content .module_menu div div div, #box_content .module_text div div div{ padding: 3px 3px 0px 3px; padding-bottom: 7px !important; overflow: hidden; background: url(../images/user_br.png) bottom right no-repeat;}
#box_content .module div div div div,  #box_content .module_menu div div div div, #box_content .module_text div div div div { padding: 0 3px; background: none;}
.separator { width: 1%;	height: 100px;	float: left;}
.topmodule_inside { background: url(../images/right_box.png) top right  no-repeat;	height: 130px; }

#maincontent { width: 100%;	height: auto;	padding: 0;	margin: 0;	float: left; }
#content_outright { padding: 0 10px 0 0;}
#content_outnoright { }
/*#content { padding: 7px;	border: 1px solid #DDDDDD;}*/
#component { }
#content a, #box_content a, #userbottom a, #left_out a { color: #6699FF;}
#content a:hover { text-decoration: underline;}
#right { float: right;	margin: 0;}
a { text-decoration: none;}
a:hover { text-decoration: underline;}
a.readon { border-left: 2px solid #6699FF;	padding: 2px 0 2px 5px;	margin: 3px 0 0 0;	float: left;}

/*-----------------------------------*/

#bottom { background:#111111; border-top: 2px solid #666; float:left; margin: 0; text-align: center; width: 100%; }

#bottom, #bottom span, #bottom td,  #bottom div, #bottom p, #bottom li, #footer span, #footer { color: #7F7F7F ;}
#bottom a, #bottom span a, #bottom td a,  #bottom div a, #bottom p a, #bottom li a, #footer span a, #footer a{ color: #999 ;}


/*-----------------------------------*/

#userbottom { margin: 0; padding: 10px 0 20px 0; overflow: hidden; }
#userbottom h3, #userbottom th { font-weight: normal; padding: 15px 0 10px 0; color: #EEE; }
#userbottom ul { margin: 0; padding: 0 0 0 15px;}
#userbottom li { padding: 5px 0; }

.user1, .user2, .user3, .user4 { float: left; overflow: hidden; }
.user4 { width: 24%; }
.user3 { width: 32%; }
.user2 { width: 49%; }
.user1 { width: 99%; }

/*-----------------------------------*/

#footer { background:#111111; border-top: 2px solid #666;  padding: 15px 0 20px 0; margin: 0; text-align: center; float: left; width: 100%; }
#footer span { font-size: 90%; }
.sitetitle { float: left; padding: 0 0 0 10px; }
.footer { float: right; padding: 0 10px 0 0; }

.clearfloat, .clr { clear:both; height:0; font-size: 1px; line-height: 0px; }
/*-----------------------------------*/
/*------------------ ENDE Struktur ------------------*/
/*-----------------------------------*/




/*-----------------------------------*/
/*------------------ Content Styles ------------------*/
/*-----------------------------------*/

img { border: none;padding: 0;margin: 0; }
.highlight {background-color:#FFFF99;}
/*.message { background: #FFFF66; border: 1px solid #000; padding: 10px 20px; margin-bottom: 10px; text-align: center; }*/


#component h1,#component h2,#component h3,#component h4,#component h5 { padding: 5px; margin: 0; }
#component h1, .componentheading  { color: #FFFFFF; font-size: 17px; font-weight: normal; background: #7BA7D3; padding: 5px 0px 5px 15px; text-align: left; margin: 0 0 20px 0; }
#component h2 {font-size: 17px !important;}
#component h3 {font-size: 15px !important;}
#component h4 {font-size: 13px !important;}
#component h5 {font-size: 11px !important;}

.contentpane, .contentpaneopen { width: 100%; }
.contentdescription, .category-desc { padding: 10px 20px 20px 20px; }
.item-separator { height: 10px;}

.button { background: #EEEEEE; border: 1px solid #CCCCCC; color: #666666; margin: 5px 0px; padding: 4px 5px; text-transform: uppercase; font-size: 11px; font-family: Verdana, Arial, Helvetica, sans-serif; }

.sectiontableheader { background: #84A9CE; color: #FFFFFF; padding-left: 5px; height: 30px; font-size: 14px; }
.sectiontableheader a { color: #FFFFFF !important; }
.sectiontableentry1, .sectiontableentry2 { height: 30px; text-indent: 5px; }

td, tr, p, div, span { font-family: Arial, Verdana, Helvetica, sans-serif; font-size: 12px; color: #000000; margin: 0px; padding: 0px; }

/* Input Boxes */
fieldset, fieldset .small { border: none !important; }
form, fieldset { margin: 0; padding: 0; border:none;}
input.inputbox { padding: 4px 5px; width: 90%; margin: 5px 0px; }
input#modlgn_remember, input#modlgn-remember { margin: 0; padding: 0; width: auto !important; }



/* Article */
ul.actions{ float: right; text-align:right; padding: 0; margin:0; width:100%;}
ul.actions li, ul.actions {display:inline; }
ul.actions a {text-decoration:none;}
ul.actions li, ul.actions li img { padding: 0 !important; margin:0 !important; }
.article-info { margin:10px 0 10px 0px; font-size:0.9em;}
.article-info-term{ display:none}
dt.category-name, dt.create, dt.modified, dt.createdby{   float:left; padding-right:5px; }
.archive .article-info dd, .article-info dd {  margin:2px 0 0px 0; line-height:1.2em; }
dd.createdby {}
.article-info dd span { text-transform:none; display:inline; padding:0 5px 0 0px; margin:0 10px 0 0px;}

.contentheading, .item-page h2 { font-size: 21px; height: 21px; color: #6699CC; }
.contentheading a, .item-page h2 a{ color: #6699CC !important; }

.date { font-weight: bold; margin-top: 10px; }
.small { color: #999999; }
.smalldark { color: #999999; }
.createdate { color: #999999; }
.modifydate { font-size: 10px; color: #999999; }

/* pagenav */
#component ul.pagenav { list-style-type:none;padding:0;margin:10px 0 0 0;overflow:hidden; }
ul.pagenav li {display:inline;padding:1px;margin:0;position:relative;}
#component ul.pagenav li {line-height:2em}
ul.pagenav li a{ display:inline; background: #EBEBED; padding:2px 4px; text-decoration:none;}
ul.pagenav li a:hover{text-decoration: none;background-color: #CCCCCC;}
ul.pagenav li.pagenav-prev {float:left}
ul.pagenav li.pagenav-next {float:right}

/* ++++++++++++++  pagination  ++++++++++++++ */
.pagination { margin:10px 0 ; padding:10px 0 10px 0px; }
.pagination ul {list-style-type:none; margin:0; padding:0; text-align:left; }
.pagination li { display:inline; padding:2px 5px; text-align:left; border:solid 1px #eee; margin:0 2px; }
.pagination li.pagination-start, .pagination li.pagination-next, .pagination li.pagination-end, .pagination li.pagination-prev {border:0;}
.pagination li.pagination-start, .pagination li.pagination-start  span {padding:0;}
.pagenav {padding:2px}
p.counter{ font-weight:bold; padding: 0 0 10px 0; text-align:center;}

/* ++++++++++++++  category  ++++++++++++++ */
.category { width: 100%; margin-bottom: 10px; }
.category thead {padding: 3px 5px;background-color: #666;color: #FFFFFF;font-size: 15px;color: #FFFFFF; text-indent: 5px;height: 26px;line-height: 26px;}
.category thead a {color: #FFFFFF !important; }
.cat-list-row0, .cat-list-row1 {background: url(../images/sectiontableentry.jpg) repeat-x bottom #FFFFFF;font-size: 12px;text-indent: 5px;}
.cat-list-row0 td, .cat-list-row1 td { padding: 5px;}
.cat-children h3 {font-size: 14px; font-weight:normal;}

/* ++++++++++++++  readmore  ++++++++++++++ */
.readmore {margin: 5px 0 0 0;}
.readmore a {background-color: #EBEBED;color: #8B8B8B;padding: 1px 3px; }
.readmore a:hover {text-decoration: none;background-color: #CCCCCC;}

/* ++++++++++++++  tooltip  ++++++++++++++ */
.tip { border:solid 1px #333;background:#ffffcc; font-size:0.8em;text-align:left;  padding:3px; max-width:400px}
.tip-title { font-weight:bold; }

/*Dev Rafi*/
div#logo img{
    margin-left: -2px;
}
dl#content-pane.tabs {
	margin: 1px 0 0 0;
}
dl.tabs dt.open {
	background: #F9F9F9;
	border-bottom: 1px solid #f9f9f9;
	z-index: 100;
}
dl.tabs dt.open span{
    color: #000000;
}
dl.tabs {
	float: left;
	margin: 10px 0 -1px 0;
	z-index: 50;
}
dl.tabs span{
    color: #FFFFFF;
}

dl.tabs dt {
	float: left;
	padding: 4px 10px;
	border: 1px solid #ccc;
	margin-left: 3px;
	background: #7BA7D3;
	color: #666;
}
div.current {
	clear: both;
	border: 1px solid #ccc;
	padding: 10px 10px;
}

div.current dd {
	padding: 0;
	margin: 0;
}
#maincontent{
    min-height: 500px;
}
#component h1, .componentheading{
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
}
#component table{
    width: 100%;
}
#component table td:first-child{
    width: 200px;
}
#component table td{
    padding-bottom: 10px;
    vertical-align: middle;
}
#component table th{
    text-align: center;
}
#component input, #component textarea{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    height: 22px;
    padding: 0 5px 4px;
    width: 300px;
}
#component textarea{
    height: 100px !important;
}
#component select{
    border: 1px solid #D9D9D9;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px;
    width: 310px;
}
#component input[type = "checkbox"]{
    padding: 0;
    width: auto;
    vertical-align: middle;
    margin-left: 10px;
}
#component input[type = "submit"]{
    height: auto;
    padding: 3px 20px;
    width: auto;
    vertical-align: middle;
    cursor: pointer;
}
#component table.mceLayout td:first-child{
    width: auto;
}
#component table.mceLayout td{
    padding: 0;
    vertical-align: bottom;
}
table.adminlist{
    border-spacing: 1px;
}
table.adminlist thead th{
    background: none repeat scroll 0 0 #F7F7F7;
    border-bottom: 1px solid #CCCCCC;
    border-left: 1px solid #FFFFFF;
}
table.adminlist td{
    vertical-align: middle !important;
    text-align: left;
    padding: 3px 0 3px 20px !important;
}
table.adminlist tr.row0{
    background-color: #FFFFFF;
}
table.adminlist tr.row1{
    background-color: #F0F0EE;
}

#component a{
    font-weight: bold;
}
#component table td, #component table th{
    height: 30px;
}
button.disabled, button.disabled:hover{
    background: none repeat scroll 0 0 #F7F7F7;
    color: #000000;
    cursor: auto;
    border: 1px solid #CCCCCC;
}
/*pagination styles*/
#component .list-footer{
    display: inline-block;
    margin: 20px auto 0;
}
#component .list-footer select{
    height: auto;
    margin: 0 10px;
    padding: 3px;
    width: auto;
}
.list-footer div.limit{
    float: left;
    margin-top: -2px;
}
.list-footer div.limitcounter{
    float: right;
    margin-right: 10px;
    padding-top: 4px;
}
.button2-left,
.button2-right,
.button2-left div,
.button2-right div {
	float: left;
}
.button2-left a,
.button2-right a,
.button2-left button,
.button2-right button,
.button2-left span,
.button2-right span {
	display: block;
	height: 22px;
	float: left;
	line-height: 22px;
	font-size: 1em;
	color: #333;
	cursor: pointer;
}

.button2-left span,.button2-right span {
	cursor: default;
	color: #999;
}

.button2-left .page a,
.button2-right .page a,
.button2-left .page span,
.button2-right .page span,
.button2-left .blank a,
.button2-right .blank a,
.button2-left .blank span,
.button2-right .blank span,
.button2-left .blank button,
.button2-right .blank button {
	padding: 0 6px;
}

.page span,.blank span {
	color: #000;
	font-weight: bold;
}

.button2-left a:hover,
.button2-right a:hover,
.button2-left button:hover,
.button2-left button:hover	{
	text-decoration: none;
	color: #0B55C4;
}

.button2-left a,
.button2-left span,
.button2-left button {
	padding: 0 24px 0 6px;
}

.button2-right a,
.button2-right span,
.button2-right button {
	padding: 0 6px 0 24px;
}

.button2-left {
	background: url(../images/j_button2_left.png) no-repeat;
	float: left;
	margin-right: 10px;
}

.button2-right {
	background: url(../images/j_button2_right.png) 100% 0 no-repeat;
	float: left;
	margin-left: 5px;
	margin-right: 10px;
}

.button2-right .prev 		{	background: url(../images/j_button2_prev.png) no-repeat; }
.button2-right.off .prev 	{	background: url(../images/j_button2_prev_off.png) no-repeat; }
.button2-right .start 		{	background: url(../images/j_button2_first.png) no-repeat; }
.button2-right.off .start 	{	background: url(../images/j_button2_first_off.png) no-repeat; }
.button2-left .page,
.button2-left .blank 		{	background: url(../images/j_button2_right_cap.png) 100% 0 no-repeat; }
.button2-left .next 		{	background: url(../images/j_button2_next.png) 100% 0 no-repeat; }
.button2-left.off .next 	{	background: url(../images/j_button2_next_off.png) 100% 0 no-repeat; }
.button2-left .end 			{	background: url(../images/j_button2_last.png) 100% 0 no-repeat; }
.button2-left.off .end 		{	background: url(../images/j_button2_last_off.png) 100% 0 no-repeat; }
.button2-left .image 		{	background: url(../images/j_button2_image.png) 100% 0 no-repeat; }
.button2-left .readmore 	{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }
.button2-left .pagebreak 	{	background: url(../images/j_button2_pagebreak.png) 100% 0 no-repeat; }
.button2-left .blank 		{	background: url(../images/j_button2_blank.png) 100% 0 no-repeat; }
.button2-left .article 		{	background: url(../images/j_button2_readmore.png) 100% 0 no-repeat; }

a.pointer { cursor: pointer; }

button {
	background: #7BA7D3;
	border: 1px solid #ccc;
	text-decoration: none;
        color: #FFFFFF;
}

button:hover {
	cursor: pointer;
	background: #FFFFFF;
	text-decoration: none;
	border: 1px solid #aaa;
        color: #6699FF;
}

div.button2-left button {
	background: transparent;
	margin-top: 0;
	border: 0 solid #ccc;
}

div.button2-left button {
	background: transparent;
	border: 0 solid #aaa;
}
/*pagination styles end*/